.jcarousel-skin-custom .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
	background: #F0F6F9;
    border: 0px solid #346F97;
}

.jcarousel-skin-custom .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-custom .jcarousel-container-horizontal {
    width: 805px;  /* box including the button */ 	                               /* = 105x7+5+5 THIS ONE */
    padding: 20px 40px;
}

.jcarousel-skin-custom .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-custom .jcarousel-clip {
 	/* uncomment this to show the entire list */
	/* overflow: visible; */

	overflow: hidden; 
}

.jcarousel-skin-custom .jcarousel-clip-horizontal {
    /*width:  765px;   this determine how many thumb is shown */
    height: 85px;
}

.jcarousel-skin-custom .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-custom .jcarousel-item {
    /*width: 75px;
    height:  75px; */
    width: 105px;
    height:  85px;
    outline:red solid 0px;  /* delete this  */   	                                           /*THIS ONE */
}

.jcarousel-skin-custom .jcarousel-item-horizontal {
	margin-left: 5px;
    margin-right: 5px;   	                                           /*THIS ONE */
}

.jcarousel-skin-custom .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-custom .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-custom .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-custom .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-custom .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-custom .jcarousel-next-horizontal:hover,
.jcarousel-skin-custom .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-custom .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-custom .jcarousel-next-disabled-horizontal,
.jcarousel-skin-custom .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-custom .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-custom .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-custom .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-custom .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-custom .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-custom .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-custom .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-custom .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-custom .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-custom .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-custom .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/****
over ridding
*/

.jcarousel-skin-custom .jcarousel-list {
height:85px; 
/* width:4000px;  !important; */ /*you minght need this for Android tablet */
outline:red 0px solid; /* for dedug only,*/

}








/**
 *  Vertical Buttons
 */

.jcarousel-skin-custom .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-custom .jcarousel-next-vertical:hover,
.jcarousel-skin-custom .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-custom .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-custom .jcarousel-next-disabled-vertical,
.jcarousel-skin-custom .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-custom .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-custom .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-custom .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-custom .jcarousel-prev-vertical:hover,
.jcarousel-skin-custom .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-custom .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-custom .jcarousel-prev-disabled-vertical,
.jcarousel-skin-custom .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-custom .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-custom .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

/* behavior */
/* .thumb-selected {opacity:.3} */
